<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Test Tab</name>
            <label lang="en">Test Tab</label>
            <label lang="de">Test Tab</label>
            <controller>MyCustomTab</controller>
            <action>index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">Content</parent>
            <onclick>
                Shopware.ModuleManager.createSimplifiedModule("MyCustomTab", {
                "title": "Test Tab",
                "width": "800px",
                "iconCls": "sprite-application-block"
                })
            </onclick>
        </entry>
    </entries>
</menu>
